@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://p.typekit.net/p.css?s=1&k=byj4hso&ht=tk&f=6801.6805.6806.9945.6807.6808.6809.6810.6811.8414.8415.8416.8417.8418.6844.6845.6846.6847.6848.6849.6850.6851.6852.6853.27069.27070.27073.27074&a=110560041&app=typekit&e=css");

@font-face {
  font-family:"myriad-pro-semi-condensed";
  src:url("https://use.typekit.net/af/d44976/0000000000000000000170b3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/d44976/0000000000000000000170b3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/d44976/0000000000000000000170b3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:700;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-semi-condensed";
  src:url("https://use.typekit.net/af/a78021/0000000000000000000170ae/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a78021/0000000000000000000170ae/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a78021/0000000000000000000170ae/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:400;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-semi-condensed";
  src:url("https://use.typekit.net/af/44bde1/0000000000000000000170b0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/44bde1/0000000000000000000170b0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/44bde1/0000000000000000000170b0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:400;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-semi-condensed";
  src:url("https://use.typekit.net/af/2efaa6/0000000000000000000170b4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/2efaa6/0000000000000000000170b4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/2efaa6/0000000000000000000170b4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:700;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-condensed";
  src:url("https://use.typekit.net/af/976c18/0000000000000000000170aa/27/l?subset_id=2&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/976c18/0000000000000000000170aa/27/d?subset_id=2&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/976c18/0000000000000000000170aa/27/a?subset_id=2&fvd=n9&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:900;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-condensed";
  src:url("https://use.typekit.net/af/c63dde/0000000000000000000170a8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/c63dde/0000000000000000000170a8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/c63dde/0000000000000000000170a8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:700;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-condensed";
  src:url("https://use.typekit.net/af/f72c04/0000000000000000000170a4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f72c04/0000000000000000000170a4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f72c04/0000000000000000000170a4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:400;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-condensed";
  src:url("https://use.typekit.net/af/47529e/0000000000000000000170a2/27/l?subset_id=2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/47529e/0000000000000000000170a2/27/d?subset_id=2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/47529e/0000000000000000000170a2/27/a?subset_id=2&fvd=n3&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:300;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-condensed";
  src:url("https://use.typekit.net/af/9369f8/0000000000000000000170a6/27/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/9369f8/0000000000000000000170a6/27/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/9369f8/0000000000000000000170a6/27/a?subset_id=2&fvd=n6&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:600;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-condensed";
  src:url("https://use.typekit.net/af/d5dd09/0000000000000000000170ab/27/l?subset_id=2&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/d5dd09/0000000000000000000170ab/27/d?subset_id=2&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/d5dd09/0000000000000000000170ab/27/a?subset_id=2&fvd=i9&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:900;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-condensed";
  src:url("https://use.typekit.net/af/24a439/0000000000000000000170a9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/24a439/0000000000000000000170a9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/24a439/0000000000000000000170a9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:700;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-condensed";
  src:url("https://use.typekit.net/af/af66cf/0000000000000000000170a5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/af66cf/0000000000000000000170a5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/af66cf/0000000000000000000170a5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:400;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-condensed";
  src:url("https://use.typekit.net/af/eb9223/0000000000000000000170a3/27/l?subset_id=2&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/eb9223/0000000000000000000170a3/27/d?subset_id=2&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/eb9223/0000000000000000000170a3/27/a?subset_id=2&fvd=i3&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:300;
  font-display: swap;
  font-stretch:normal;
}

@font-face {
  font-family:"myriad-pro-condensed";
  src:url("https://use.typekit.net/af/a17916/0000000000000000000170a7/27/l?subset_id=2&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/a17916/0000000000000000000170a7/27/d?subset_id=2&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/a17916/0000000000000000000170a7/27/a?subset_id=2&fvd=i6&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:600;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro";
  src:url("https://use.typekit.net/af/95c20a/0000000000000000000170a0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/95c20a/0000000000000000000170a0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/95c20a/0000000000000000000170a0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:900;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro";
  src:url("https://use.typekit.net/af/fd10fc/0000000000000000000170a1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/fd10fc/0000000000000000000170a1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/fd10fc/0000000000000000000170a1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:900;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro";
  src:url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:700;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro";
  src:url("https://use.typekit.net/af/2e2357/00000000000000000001709f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/2e2357/00000000000000000001709f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/2e2357/00000000000000000001709f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:700;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro";
  src:url("https://use.typekit.net/af/d32e26/00000000000000000001709b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/d32e26/00000000000000000001709b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/d32e26/00000000000000000001709b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:400;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro";
  src:url("https://use.typekit.net/af/c630c3/000000000000000000017098/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/c630c3/000000000000000000017098/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/c630c3/000000000000000000017098/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:300;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro";
  src:url("https://use.typekit.net/af/ee605b/000000000000000000017099/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/ee605b/000000000000000000017099/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/ee605b/000000000000000000017099/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:300;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro";
  src:url("https://use.typekit.net/af/cafa63/00000000000000000001709a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cafa63/00000000000000000001709a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cafa63/00000000000000000001709a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:400;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro";
  src:url("https://use.typekit.net/af/80c5d0/00000000000000000001709c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/80c5d0/00000000000000000001709c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/80c5d0/00000000000000000001709c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:600;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro";
  src:url("https://use.typekit.net/af/d50a1b/00000000000000000001709d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/d50a1b/00000000000000000001709d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/d50a1b/00000000000000000001709d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:600;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-semiextended";
  src:url("https://use.typekit.net/af/d6baab/00000000000000003b9ad2de/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/d6baab/00000000000000003b9ad2de/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/d6baab/00000000000000003b9ad2de/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:400;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-semiextended";
  src:url("https://use.typekit.net/af/2b0ae7/00000000000000003b9ad2df/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2b0ae7/00000000000000003b9ad2df/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2b0ae7/00000000000000003b9ad2df/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:400;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-semiextended";
  src:url("https://use.typekit.net/af/25f703/00000000000000003b9ad2e2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/25f703/00000000000000003b9ad2e2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/25f703/00000000000000003b9ad2e2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:700;
  font-stretch:normal;
  font-display: swap;
}

@font-face {
  font-family:"myriad-pro-semiextended";
  src:url("https://use.typekit.net/af/7f0b40/00000000000000003b9ad2e3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/7f0b40/00000000000000003b9ad2e3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/7f0b40/00000000000000003b9ad2e3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:700;
  font-stretch:normal;
  font-display: swap;
}

.tk-myriad-pro-semi-condensed { font-family: "myriad-pro-semi-condensed", sans-serif; }
.tk-myriad-pro-condensed { font-family: "myriad-pro-condensed", sans-serif; }
.tk-myriad-pro { font-family: "myriad-pro", sans-serif; }
.tk-myriad-pro-semiextended { font-family: "myriad-pro-semiextended", sans-serif; }

body * {
  font-family: "myriad-pro";
}


@keyframes backgroundAppear {
  from {
    mask-size: 50vw;
  }

  to {
    mask-size: 100vw;
  }
}

.mask {
  mask-type: alpha;
  animation: backgroundAppear 0.5s ease-in-out forwards;
  mask-size: 50vw;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(to right,rgb(0, 0, 0) 0%,rgb(0, 0, 0) 28.7%, transparent 75.3%, transparent 98.3%);
  mask-image: linear-gradient(to right,rgb(0, 0, 0) 0%,rgb(0, 0, 0) 28.7%, transparent 75.3%, transparent 98.3%);
}

.mask-page {
  mask-type: alpha;
  -webkit-mask-image: linear-gradient(to top,transparent 0%,rgb(0, 0, 0) 10%,rgb(0, 0, 0) 90%,transparent 99.5%);
  mask-image: linear-gradient(to top,transparent 0%,rgb(0, 0, 0) 8%,rgb(0, 0, 0) 92%,transparent 99.5%);
}

li {
  list-style: none;
}

.scrollbar::-webkit-scrollbar {
  width: 0.3rem !important;
}

.scrollbar::-webkit-scrollbar-track {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  cursor: pointer !important;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  cursor: pointer !important;
}

.scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

.scrollbar::scrollbar {
  width: 0.3rem !important;
}

.scrollbar::scrollbar-track {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.scrollbar::scrollbar-thumb {
  border-radius: 4px;
  cursor: pointer !important;
}

.scrollbar::scrollbar-thumb:hover {
  cursor: pointer !important;
}

.scrollbar::scrollbar-corner {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
    -webkit-box-shadow: 0 0 0 30px #333333 inset !important;
    
}

.about h1 {
  @apply pb-4 text-xl font-bold underline;
}

.about h2 {
  @apply pb-4 text-lg;
}

.about a {
  @apply text-gray-500
}

.about a:hover {
  @apply text-white underline;
}

.linkIcon img {
  --iconSize: 2.5rem;
  width: var(--iconSize);
  height: var(--iconSize);
}

:root body {
  --toastify-color-success: #107a13;
  --toastify-color-info: #3f6177;
}

.mapboxgl-canvas-container {
  height: 100%;
}

.ytp-chrome-top * {
  display: none !important;
}

.paypal-button-container, .paypal-button-container.paypal-buttons.paypal-buttons-context-iframe {
  height: 40px !important;
}

.paypal-button-container div {
  height: 40px !important;
}

.paypal-button-container iframe.component-frame.visible {
  height: 40px !important;
}